body{

}
.bx{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 3%;
  padding-bottom: 3%;
}

.navbar-brand {
  font-family: helvetica;
  font-weight: 800 !important;
  font-size: 22px !important;
  color:  #3da2ff  !important;
  text-align: center;
}
.FooterPage{
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  height: 50px;
}

.navbarMain {
  font-family: helvetica;
  font-weight: 800;
  font-size: 22px ;
  background: #008080;
  height: 70px;
  text-decoration-color: white;
  text-align: center;

}
.signup .col-lg-5 {
  width: 200px;
}

.signup .form-group {
  font-size: 15px !important;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: gray;
}

.form-control {
  font-size: 0.8rem !important;
}

.btn {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-weight: 600px !important;
}

.font-weight{
  margin-bottom: 2rem;
  margin-top: 4rem;
  color: #008080;
  font-weight: 600 !important;
  font-size: 25px;
}

.col-sm-5 {
  padding-left: 50px !important;
}

.btn {
  margin-top: 20px;
  font-weight: 600px !important;
}

.title {
  padding-left: 50px;
}

/* .row {
  padding-top: 2%;
  bottom: 0 !important;
  width: 100%;
} */

.row {
  padding-top: 2%;
  padding-bottom: 5%;
}

.name {
  margin-right:5px;
}

.password {
  margin-right:5px;
  padding-bottom: 4px;
}

.lock {
  padding-bottom: 5px;
}

.signuppic {
  padding-top: 40px;
}

.account {
  color: gray;
  text-align: center;
  font-size: 15px;
  padding-top: 10px;

}
.boxxx{
   background-color: #008080;
}
.box {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.button-container {
  flex-direction: row;
  justify-content: center;;
}
.button-container a:last-child {
  margin-left:15px;
}

.piccontainer {
  position: relative;

}

.text-block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #008080;
}

.fontgradon{
  font-size: 100px;
  font-weight: bold;
  color:#008080;
}

.fontauto{
  font-family: Helvetica;
  font-size: 32px;
}

.title-container{
  margin-bottom:70px;
}


.collpase .navbar-collapse Link{
  background-color: green;color: #008080;
}
